@model grow.Models.ViewModels.CreatePlantViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add a New Plant</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plant.Name" class="control-label"></label>
                <input asp-for="Plant.Name" class="form-control" />
                <span asp-validation-for="Plant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.Notes" class="control-label"></label>
                <input asp-for="Plant.Notes" class="form-control" />
                <span asp-validation-for="Plant.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.InitialImage" class="control-label"></label>
                <input asp-for="Plant.InitialImage" class="form-control" />
                <span asp-validation-for="Plant.InitialImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.PlantTypeId" class="control-label"></label>
                <select asp-for="Plant.PlantTypeId" class ="form-control" asp-items="ViewBag.PlantTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
