@model grow.Models.Plant

@{
    ViewData["Title"] = "Edit";
    ViewBag.BodyClass = "background-image";
}

<h2 class="form-styles">Edit Plant</h2>

<hr />
<div class="row form-background">
    <div class="col align-self-center form-column">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="InitialImage" class="control-label"></label>
                <input asp-for="InitialImage" class="form-control" />
                <span asp-validation-for="InitialImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantTypeId" class="control-label"></label>
                <select asp-for="PlantTypeId" class="form-control" asp-items="ViewBag.PlantTypeId"></select>
                <span asp-validation-for="PlantTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
