@model grow.Models.ViewModels.DetailsWateringViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Watering Regularity</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Water.Regularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Water.Regularity)
        </dd>
    </dl>

    <h4>Plants</h4>

    @foreach (Plant plant in Model.Plants)
    {
        <div>@plant.Name</div>
        <hr />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Water.WaterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
