@model grow.Models.Water

@{
    ViewData["Title"] = "Edit";
    ViewBag.BodyClass = "background-image";
}

<h2 class="form-styles">Edit this Watering Regularity Requirement</h2>

<hr />
<div class="row form-background">
    <div class="col align-self-center form-column">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WaterId" />
            <div class="form-group">
                <label asp-for="Regularity" class="control-label"></label>
                <input asp-for="Regularity" class="form-control" />
                <span asp-validation-for="Regularity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
