@model IEnumerable<grow.Models.Water>

@{
    ViewData["Title"] = "Index";
    ViewBag.BodyClass = "faded-background-image";
}

<h2 class="form-styles">Watering Regularity Options</h2>

<p>
    <button type="button" class="btn"><a class="button-link" asp-action="Create">Create New <br />Watering Requirement</a></button>
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <h3 class="text-center">
                @Html.DisplayFor(modelItem => item.Regularity)
            </h3>
            @foreach (PlantAudit pa in item.PlantAudits)
            {
                <div class="col-sm-4">
                    <div class="card plant-row">
                        <h4 class="text-center">@pa.Plant.Name</h4>
                        <img class="card-img-top plant_image center-block" src="~/User_Files/Images/@pa.Plant.InitialImage" alt="Card image cap">
                    </div>
                    <br />
                </div>
            }
        </div>
    }
</div>

