@model IEnumerable<grow.Models.Plant>

@{
    ViewData["Title"] = "Index";
    ViewBag.BodyClass = "faded-background-image";
}

<h2 class="form-styles">Watering Regularity Options</h2>

<p>
    <button type="button" class="btn"><a class="button-link" asp-action="Create">Create New <br />Watering Requirement</a></button>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card plant-row text-center">
                    <h3>@Html.DisplayFor(modelItem => item.Water.Regularity)</h3>
                    <hr />
                    <img class="card-img-top plant_image center-block" src="~/User_Files/Images/@item.InitialImage" alt="Card image cap">
                    <hr />
                    <div class="card-body text-center">
                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    </div>
                    <div class="card-footer text-center">
                    <small class="text-muted">
                    <a class="details-link" asp-action="Create" asp-controller="PlantAudits" asp-route-id="@item.PlantId">Edit Plant's Watering Needs</a>
                    </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

