@model IEnumerable<grow.Models.Plant>

@{
    ViewData["Title"] = "Index";
    ViewBag.BodyClass = "faded-background-image";
}

<h2 class="form-styles">Watering Regularity Options</h2>

<p>
    <button type="button" class="btn"><a class="button-link" asp-action="Create">Create New <br />Watering Requirement</a></button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                water
            </th>
            <th>
                plant
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Water.Regularity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.InitialImage)
                </td>

            </tr>
        }
    </tbody>
</table>
