/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* PLANT IMAGES */
.plant_image {
    max-height: 200px;
    width: auto;
}

.plant-card {
    max-width: 200px;
    height: auto;
}

/* BTN LINKS*/
.button-link {
    color: white;
}

button.btn a:hover {
    text-decoration: none !important;
}

.btn {
    background-color: #58d68d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karma', serif;
}

html, p, nav, a {
    font-family: 'Raleway', sans-serif;
}

.hero-image {
    max-width: 700px;
    height: auto;
}


/* Style the button and place it in the middle of the container/image */
.container .btn-get-started {
    position: relative;
    bottom: 7vw;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #58d68d;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    .container .btn-get-started:hover {
        background-color: black;
    }

.navbar-inverse {
    background-color: white;
    border-color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #58d68d;
    background-color: transparent;
}

.nav-img {
    margin-top: -20px;
    margin-left: 15px;
    max-height: 50px;
    width: auto;
}

.details-link {
    color: #58d68d;
}

.btn-logout {
    margin-top: 8px;
}

.plant-row {
    margin-top: 15px;
}
