@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img src="~/images/WelcometoGrow.png" class="img-responsive" alt="Responsive image">
    <img src="~/images/HowItWorks.png" class="img-responsive" alt="Responsive image">
    <button class="btn-get-started btn"><a  class="button-link" asp-area="Identity" asp-page="/Account/Register">Get Started</a></button>
</div>

