@model grow.Models.PlantAudit

@{
    ViewData["Title"] = "Edit";
    ViewBag.BodyClass = "faded-background-image";
}

<h2 class="form-styles">Edit Plant Update</h2>

<hr />
<div class="row form-background">
    <div class="col align-self-center form-column">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantAuditId" />
            <div class="form-group">
                <label asp-for="PlantId" class="control-label"></label>
                <select asp-for="PlantId" class="form-control" asp-items="ViewBag.PlantId"></select>
                <span asp-validation-for="PlantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterId" class="control-label"></label>
                <select asp-for="WaterId" class="form-control" asp-items="ViewBag.WaterId"></select>
                <span asp-validation-for="WaterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightId" class="control-label"></label>
                <select asp-for="LightId" class="form-control" asp-items="ViewBag.LightId"></select>
                <span asp-validation-for="LightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RequirementsChanged" /> @Html.DisplayNameFor(model => model.RequirementsChanged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InfestationIssue" /> @Html.DisplayNameFor(model => model.InfestationIssue)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedImage" class="control-label"></label>
                <input asp-for="UpdatedImage" class="form-control" />
                <span asp-validation-for="UpdatedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
