@model IEnumerable<grow.Models.PlantType>

@{
    ViewData["Title"] = "Index";
    ViewBag.BodyClass = "faded-background-image";
}

<h2 class="form-styles">All Plant Types</h2>

<p>
    <button type="button" class="btn"><a class="button-link" asp-action="Create">Add New Plant Type</a></button>
</p>
<table class="table plant-details">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="details-link" asp-action="Edit" asp-route-id="@item.PlantTypeId">Edit</a> |
                <a class="details-link" asp-action="Delete" asp-route-id="@item.PlantTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
